{% extends 'base.html' %}

{% block content %}
<script src="prism.js"></script>
{% load static %}

<div class="padded"><h1>How to use the butler module example:</h1></div>
<div class="padded">
<!--    {% autoescape off %}-->
<!--    {{butler_example}}-->
<!--{% endautoescape %}-->

<!--    <iframe src="ipalm/tutorial/butler_example.html" height="200" width="300" title="Iframe Example"></iframe>-->
<script src="https://gist.github.com/Hartvi/90d7d8d3318dcdd28e4823721b1f4acd.js"></script>
</div>
<div class="padded">
{% endblock content %}
