{% extends 'base.html' %}

{% block content %}
<!--<script src="prism.js"></script>-->
{% load static %}

<div align="center"><div class="padded threequarters">
    <!-- titles belong in a padded class-->
    <div class="padded"><h1>Tutorials & Examples</h1></div>
    <div align="left"> <!-- text belongs in a left align -->
        Here are some tutorials of how to use the Butler recording module and how to upload to the database.
        <hr>
        <div class="left">
            <div class="padded">
                Butler automatically records and organizes the outputs of your scripts.
                If you have not yet recorded any data, follow this tutorial on how to record and format data for uploading using Butler.
                <br><br>
                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/butler/" role="button">Butler tutorial</a>
<!--                <br><br>-->
<!--                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/butler_format/" role="button">Butler Formatting</a>-->
                <br><br>
            </div>
        </div>
        <div class="right">
            <div class="padded">
                If you have recorded and formatted data using Butler, you can upload it right away using an <b>upload function</b>.
                <br><br>
                <a class="button btn btn-dark" href="/ipalm/tutorial/butler_upload/" role="button">Upload function</a>
                <br><br>
                If you already have data that you want to upload, you can upload it from a <b>script</b> or using a manual <b>drag & drop</b>.
                There is a slight difference in the JSON files for manual vs script uploading.
                <br><br>
                <a class="button btn btn-dark" href="/ipalm/tutorial/butler_upload/#manual_upload" role="button">Manual Uploading</a>
                <a class="button btn btn-dark" href="/ipalm/tutorial/butler_upload/#manual_upload" role="button">Script Uploading</a>
<!--                <hr>-->
<!--                If you already have data that you want to upload, see this tutorial.-->
<!--                There are examples of JSON dictionaries in a format that the uploading module accepts.-->
<!--                <br><br>-->
<!--                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/manual_upload/" role="button">Manual Uploading</a>-->
            </div>
        </div>
    </div>
</div></div>
{% endblock content %}

