{% extends 'base.html' %}

{% block content %}
<!--<script src="prism.js"></script>-->
{% load static %}

<div align="center"><div class="padded threequarters">
    <!-- titles belong in a padded class-->
    <div class="padded"><h1>Tutorials & Examples</h1></div>
    <div align="left"> <!-- text belongs in a left align -->
        Here are some tutorials of how to use the Butler recording module and how to upload to the database.
        <hr>
        <div class="left">
            <div class="padded">
                Butler automatically records and organizes the outputs of your scripts.
                If you have not yet recorded any data, follow these two tutorials on how to record data using Butler.
                <br><br>
                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/butler/" role="button">Butler Recording</a>
                <br><br>
                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/butler_format/" role="button">Butler Formatting</a>
                <br><br>
            </div>
        </div>
        <div class="right">
            <div class="padded">
                After you have recorded and formatted the data using Butler, you can upload it.
                To find out how to upload data to the database, see the Uploading tutorial.
                <br><br>
                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/butler_upload/" role="button">Uploading</a>
                <hr>
                If you already have data that you want to upload, see this tutorial.
                There are examples of JSON dictionaries in a format that the uploading module accepts.
                <br><br>
                <a class="button btn btn-dark btn-lg" href="/ipalm/tutorial/manual_upload/" role="button">Manual Uploading</a>
            </div>
        </div>
    </div>
</div></div>
{% endblock content %}

