{% extends 'base.html' %}

{% block content %}
<!--<script src="prism.js"></script>-->
{% load static %}
{% load browser_extras %}
<div class="padded">
<!--    <div class="col-sm-1">-->
        {% if prev_url %}
        <a class="button btn btn-dark btn-lg" href="{{prev_url}}" role="button">&#60; Back</a>
        {% endif %}
<!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div align="center">
                    <h2>Object instance</h2>
                </div>
                <div class="container">
<!--                    <p style="font-size:200%">-->
                    <div class="row">
                        <div class="col">
                        <p style="font-size:150%">
                            Dataset:
                        </p>
                        </div>
                        <div class="col">
                            <p style="font-size:150%">
                                {% if object_instance.dataset is None %}
                                null
                                {% else %}
                                {{object_instance.dataset}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-size:150%">
                            ID in dataset:
                            </p>
                        </div>
                        <div class="col">
                            <p style="font-size:150%">
                                {% if object_instance.dataset_id is None %}
                                null
                                {% else %}
                                {{object_instance.dataset_id}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-size:150%">
                            Maker:
                            </p>
                        </div>
                        <div class="col">
                            <p style="font-size:150%">
                                {% if object_instance.maker is None %}
                                null
                                {% else %}
                                {{object_instance.maker}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-size:150%">
                            Common name:
                            </p>
                        </div>
                        <div class="col">
                            <p style="font-size:150%">
                                {% if object_instance.common_name is None %}
                                null
                                {% else %}
                                {{object_instance.common_name}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="font-size:150%">
                            Other:
                            </p>
                        </div>
                        <div class="col">
                            <p style="font-size:150%;">
                                {% if object_instance.other is None %}
                                null
                                {% else %}
                                {{object_instance.other}}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <p style="font-size:125%;"> Number of measurements performed on this object: {{measurements}}</p>
                    </div>

                    <div class="row">
                        <a class="btn btn-dark" href="/ipalm/rest/object_instances/{{object_instance.id}}/">Database link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div align="left">
<!--                    <div class="center">-->
                        <h3 class="header1">Correction</h3>
                        {% load crispy_forms_tags %}
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            {% if form.errors %}
                            {{ form.errors|pluralize }}
                            {% endif %}
                            {% for field in form %}
                            {{ field.error }}
                            {{ field.field.error }}
                            {% endfor %}
                                <div class="container" style="width:90%;">
                                {% for field in form %}
<!--                                    <div class="border">-->
                                    <div class="row">
                                        <div class="col">
                                            <div align="left">
                                                <p style="font-size:125%;">{{ field.name }}:</p>
                                            </div>
                                        </div>
                                        <div class="col">
<!--                                            <div class="form_element">-->
                                            {{ field }}
<!--                                            </div>-->
                                        </div>
                                    </div>
<!--                                    </div>-->
                                {% endfor %}
    <!--                                <div class="row">-->
    <!--                                    <div class="col">lol</div>-->
    <!--                                    <div class="col">-->
    <!--                                <div align="right">-->
    <!--                                    </div>-->
    <!--                                    </div>-->
    <!--                                </div>-->
                                </div>
                            {% if not user_exists %}
                            <p>User {{username}} doesn't exist!!!</p>
                            {% elif not password_matches %}
                            <p>Password for user {{username}} doesn't match!!!</p>
                            {% endif %}
                            <div class="submit">
                                <button type="submit" class="btn btn-block btn-dark">Send Correction</button>
                            </div>
                        </form>
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <div align="center">
            {% for im in imgs %}{% if forloop.counter0|divisibleby:4 %}<br><br>{% else %}&emsp;{% endif %}<img src="{{im}}" alt="Image" width="20%">{% endfor %}
            <br><br>
            <br><br>
        </div>
    </div>
</div>

{% endblock content %}

